<!-- app/templates/admin/employees/employees.html -->

{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block head %}
<!-- Site Properties -->
<!--<script src="{{ url_for('static', filename='login-page/jquery.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='login-page/form.js') }}"></script>-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<style type="text/css">
    body, {
      background-color: rgb(255, 255, 255);
      font-family: 'Mandali';
      color: #474747;
    }

    button {
       font-family: 'Mandali';

}

    body > .grid {
      height: 100%;
    }

    .ui.large.form{
    font-size: 1em;
    }

    #toast-container{
      top: 60px;
    }




</style>


{% endblock %}
{% block body %}

<div class="ui middle aligned center aligned grid" style="background-color:white; margin-top:0px;">
    <div class="twelve wide column" style="margin-top:4em; margin-bottom:8em">
        <div class="ui center aligned grid">

            <div class="sixteen wide column">
                <h2 class="ui header"
                    style="color: #74D7D7; font-family: Josefin Slab; font-weight:400; font-size:2.5em">
                    Employees
                </h2>
            </div>

            {% if employees %}
            <div class="sixteen wide column">
                <p style="color:#474747">The following employees are currently present in the database:</p>
                <div class="ui divider"></div>
            </div>
            <div class="sixteen wide column">

                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>Assign</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                    {% if employee.is_admin %}
                    <tr>
                        <td><i class="key icon"></i> Admin</td>
                        <td> N/A</td>
                        <td> N/A</td>
                        <td> N/A</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td> {{ employee.first_name }} {{ employee.last_name }}</td>
                        <td>
                            {% if employee.department %}
                            {{ employee.department.name }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if employee.role %}
                            {{ employee.role.name }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('admin.assign_employee', id=employee.id) }}">
                                <i class="fa fa-user-plus"></i> Assign
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <!--Display success flashes as toasts-->
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            <script>
            // Display a success toast with title
            {% for message in messages %}
            toastr.success('{{ message }}', 'Success')
            {% endfor %}


            </script>
            {% endif %}
            {% endwith %}

            <!--Display error flashes as toasts-->
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <script>
            // Display an error toast with title
            {% for message in messages %}
            toastr.error('{{ message }}', 'Error')
            {% endfor %}


            </script>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}