<!-- app/templates/auth/register.html -->

{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block head %}
<!-- Site Properties -->
<style type="text/css">
    body {
      background-color: rgb(255, 255, 255);
      font-family: 'Mandali';
    }

    button {
       font-family: 'Mandali';

}

    body > .grid {
      height: 100%;
    }
    .ui.large.form{
    font-size: 1em;
    }
    label{
      text-align: left;
    }

    /* Remove annoying extra border at bottom of form box */
.ui.stacked.segment::after{
  border:none;
}

</style>
<script type="text/javascript">
$(function() {
	$('.ui.dropdown').dropdown();
});

  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            first_name: {
              identifier  : 'first_name',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your first name'
                },
                {
                  type   : 'length[3]',
                  prompt : 'Your first name must be at least 3 characters'
                }
              ]
            },
            last_name: {
              identifier  : 'last_name',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your last name'
                },
                {
                  type   : 'length[3]',
                  prompt : 'Your last name must be at least 3 characters'
                }
              ]
            },
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your email'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid email'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[5]',
                  prompt : 'Your password must be at least 5 characters'
                }
              ]
          },
            confirm_password: {
              identifier  : 'confirm_password',
              rules: [
                {
                  type   : 'match[password]',
                  prompt : 'Passwords do not match'
                },
              ]
          },
         user_type: {
        identifier: 'user_type',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please select an appropriate user type'
          }
        ]
      }},
          on: 'blur',
          inline: false
        })
      ;
    })
  ;



</script>
{% endblock %}
{% block body %}
<div class="ui middle aligned center aligned grid" style="background-color:white; margin-top:0px;">
    <div class="eight wide column" style="margin-top:4em; margin-bottom:8em">
        <h2 class="ui image header" style="color: #74D7D7; font-family: Josefin Slab; font-weight:400; font-size:2.5em">
            <img width="250px" height="250px" class="ui fluid image"
                 src="{{ url_for('static', filename='img/logo/logo.png') }}">
            <div class="content">
                Register for an account
            </div>
        </h2>
        <form class="ui large form" method="post">
            {{ form.hidden_tag() }}
            <div class="ui stacked segment">
                <div class="field">
                    <label>First name</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{ form.first_name(placeholder="First name") }}
                    </div>
                </div>
                <div class="field">
                    <label>Last name</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{ form.last_name(placeholder="Last name") }}
                    </div>
                </div>
                <div class="field">
                    <label>Email address</label>
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        {{ form.email(placeholder="Email address") }}
                    </div>
                </div>

                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{ form.password(placeholder="Password") }}
                    </div>
                </div>
                <div class="field">
                    <label>Confirm password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{ form.confirm_password(placeholder="Confirm password") }}
                    </div>
                </div>
                <div class="field">
                    <label>Type of user</label>
                    <div class="ui selection dropdown">
                        <input name="user_type" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Please select...</div>
                        <div class="menu">
                            <div class="item" data-value="Bioinformatics User">Bioinformatics User</div>
                            <div class="item" data-value="Standard User">Standard User</div>
                        </div>
                    </div>
                </div>

                <button class="ui fluid large submit button" type="submit"
                        style="background-color:#74D7D7; font-family: 'Mandali'">Register
                </button>
            </div>

            <div id='login-flash-div' class="ui error message">{% with messages = get_flashed_messages() %}
                {% if messages %}
                <script type="text/javascript">
        document.getElementById("login-flash-div").className += " visible";

                </script>
                <ul class="list" style="margin:auto">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
        </form>
    </div>
</div>

{% endblock %}