<!-- app/templates/admin/roles/role.html -->

{% extends "base.html" %}
{% block title %}
    {% if add_department %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}
{% endblock %}


{% block head %}
<!-- Site Properties -->
<!--<script src="{{ url_for('static', filename='login-page/jquery.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='login-page/form.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='login-page/transition.js') }}"></script>-->

<style type="text/css">
    body, {
      background-color: rgb(255, 255, 255);
      font-family: 'Mandali';
      color: #474747;
    }

    button {
       font-family: 'Mandali';

}

    body > .grid {
      height: 100%;
    }

    .ui.large.form{
    font-size: 1em;
    }

</style>
<script>
      $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            name: {
              identifier  : 'name',
              rules: [
                {
                  type   : 'length[4]',
                  prompt : 'Role name should be at least 4 characters'
                },
              ]
            },
            description: {
              identifier  : 'description',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter a brief description for the role'
                },
              ]
            }
          },
          on: 'blur',
          inline: false
        })
      ;
    })
  ;

</script>
{% endblock %}
{% block body %}

<div class="ui middle aligned center aligned grid" style="background-color:white; margin-top:0px;">
    <div class="twelve wide column" style="margin-top:4em; margin-bottom:8em">
        <div class="ui center aligned grid">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="list" style="margin:auto">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <div class="twelve wide column">
                {% if add_department %}
                <h2 class="ui header"
                    style="color: #74D7D7; font-family: Josefin Slab; font-weight:400; font-size:2.5em">
                    Add role
                </h2>
                {% else %}
                <h2 class="ui header"
                    style="color: #74D7D7; font-family: Josefin Slab; font-weight:400; font-size:2.5em">
                    Edit role
                </h2>
                {% endif %}
            </div>

            <div class="twelve wide left aligned column">
                <form class="ui large form" method="post">
                    {{ form.hidden_tag() }}
                    <div class="ui stacked segment">
                        <div class="field">
                            <label>Role Name</label>
                            <div class="ui left icon input">
                                <i class="building icon"></i>
                                {{ form.name(placeholder="Role Name") }}
                            </div>
                        </div>
                        <div class="field">
                            <label>Role Description</label>

                            <div class="ui left icon input">
                                <i class="info circle icon"></i>
                                {{ form.description(placeholder="Description") }}
                            </div>
                        </div>
                        <button class="ui fluid medium submit button" type="submit"
                                style="background-color:#74D7D7; font-family: 'Mandali'">
                            {% if add_role %}
                            Add Role
                            {% else %}
                            Edit Role
                            {% endif %}
                        </button>
                    </div>
                    <div class="ui error message"></div>
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}